.DS_Store

KinSDK/KinCoreSDK.xcodeproj/project.xcworkspace/xcuserdata
KinSDK/KinCoreSDK.xcodeproj/xcuserdata

KinSDK/KinSDK.xcodeproj/project.xcworkspace/xcuserdata
KinSDK/KinSDK.xcodeproj/xcuserdata

KinSampleApp/KinSampleApp.xcodeproj/project.xcworkspace/xcuserdata
KinSampleApp/KinSampleApp.xcodeproj/xcuserdata

KinSDK/build

# Documentation

Docs/Output
*.xcuserdatad
